<h1>City Events</h1>
<app-user
    (onConnectionOk)="connectionOk($event)"
    *ngIf="!user_connected"
>
</app-user>  

<nav
    *ngIf="user_connected"
>
    <ul>
        <li><a routerLink="home"> Home </a></li>
        <li><a routerLink="events/0"> Mes évènements </a></li>
        <li><a routerLink="events"> Evènements </a></li>
        <li *ngFor="let category of categories">
            <a [routerLink]="['events', category.id]">{{ category.getCategory_name() }}</a>
            <!-- autre technique : -->
            <!-- <a routerlink='events/{{ category.id }}'>{{ category.getCategory_name() }}</a> -->
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>